.element1
{
    width: 101%;
    height: 50px;
    border: 2px solid rgb(81, 92, 121);
    background-color: rgb(81, 92, 121);
    margin-left: -8px;
    margin-top: -8px;
}
.a h5
{
    color: white;
    margin-left: 34px;
    margin-top: 16px;
    font-size: smaller;
}
.a1
{
    margin-left: 1074px;
    margin-top: -36px;
    color: white;
}
.a2
{
    margin-left: 1112px;
    margin-top: -19px;
    color: white;
}
.a3
{
    margin-left: 1158px;
    margin-top: -19px;
    color: white;
}
.a4
{
    margin-left: 1196px;
    margin-top: -16px;
    color: white;
}
.element2
{
    width: 101%;
    height: 155px;
    border: 2px solid white;
    background-color: white;
    margin-left: -8px;
    margin-top: 0px;
}
.b1 img
{
    width: 15%;
    height: -50px;
    margin-top: 15px;
    margin-left: 50px;
    float: left;
}
.b2 ul
{
     display: flex;
     list-style: none;
     margin-top: 80px;
     margin-left: 35px;
}
.b2 ul li
{
     margin-left: 45px;
     font-size: 20px;
}
.b2
{
    margin-left: 250px;
}
.b2 ul li a
{
    text-decoration: none;
    color: black;
}
.b2 button
{
    width: 119px;
    height: 40px;
    border: 2px solid rgb(81, 92, 121);
    border-radius: 28px ;
    background-color: rgb(81, 92, 121);
    color: white;
    margin-left: 74px;
    margin-top: -19px;
}
.element3
{
    width: 101%;
    height: 650px;
    border: 2px solid white;
    background-color: white;
    margin-left: -8px;
    margin-top: 0px;
}
.c1 img
{
    width: 100%;
    height: 650px;
    opacity: 0.5;
}
.c2
{
    top: 293px;
    left: 45px;
    width: 50%;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 50px;

}
 .c2 h1
{
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-end: 0px;
    margin-inline-end: 0pcx;
    font-weight: bolder;
    font-size: xx-large;
}
.c3 button
{
    position: absolute;
    display: flex;
    font-size: 17px;
    color:rgba(62, 95, 134, 0.845);
    align-items: center;
    background: rgba(71, 99, 131, 0.83);
    border: 2px solid rgba(71, 99, 131, 0.83);
    border-radius: 34px;
    width: 122px;
    height: 44px;
    padding-left: 15px;
    top: 670px;
    margin-left: 50px;
    color: white;

}
.c4 button
{
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: white;
    top: 666px;
    left: 324px;
    border: 2px solid rgba(254, 230, 45, 0.884);
    border-radius: 30px;
    width: 125px;
    padding-left: 6px;
    margin-left: -118px;
    color: white;
    background-color: rgba(254, 230, 45, 0.884);
    height: 45px;
}
.element4
{
    width: 101%;
    height: 687px;
    border: 2px solid white;
    background-color: white;
    margin-left: -8px;
    margin-top: 0px;
}
.d1 img
{
    width: 40%;
    height: 450px;
    margin-left: 689px;
    margin-top: 118px;
    border-radius: 30px;
}
.d2 h4
{
    margin-left: 53px;
    font-size: 15px;
    margin-top: -480px;
    color: rgba(71, 99, 131, 0.83);
}
.d3 h1
{
    margin-left: 50px;
    font-size: 37px;
    margin-top: 3px;
}
.d4 p
{
    height: 51px;
    width: 463px;
    margin-left: 52px;
    margin-top: 23px;
    font-size: 15px;
    color: rgb(101, 101, 101);
}
.d5
{
     height: 239px;
     width: 283px;
     margin-left: 55px;
     margin-top: 80px;
}
.d6
{
     
    height: 246px;
    width: 274px;
    margin-left: 366px;
    margin-top: -242px;
}
.element5
{
    width: 101%;
    height: 680px;
    border: 2px solid white;
    background-color: white;
    margin-left: -8px;
    margin-top: 0px;
    background-color: rgb(81, 92, 121);
}
.e1 img
{
     margin-left: 700px;
}
.e2 h5
{
    text-align: center;
    margin-top: -489px;
    color: rgba(254, 230, 45, 0.884);
    font-size: 16px;
}
.e3 h1
{
    margin-left: 386px;
    margin-top: -12px;
    font-size: 39px;
    color: white;
    width: 524px;
    text-align: center;
}
.e4 p
{
    margin-left: 286px;
    margin-top: -10px;
    color: white;
    font-size: 18px;
}
.z1
{
    width: 22%;
    height: 321px;
    border: 2px solid white;
    background-color: white;
    margin-left: 40px;
    margin-top: 50px;
    border-radius: 17px;
    float: left;
}
.z1 i
{
    margin-left: 29px;
    margin-top: 25px;
    color: rgba(71, 99, 131, 0.83);
    
}
.z1 h1 u
{
    margin-left: 45px;
    margin-top: 58px;
    font-size: 23px;
}
.z1 p
{
    width: 213px;
    margin-top: -5px;
    margin-left: 48px;
    height: 267px;
    font-size: 17px;
}
.z1 h4 
{
    margin-top: -170px;
    margin-left: 48px;
}
.z2
{
    width: 22%;
    height: 321px;
    border: 2px solid white;
    background-color: white;
    margin-left: 17px;
    margin-top: 50px;
    border-radius: 17px;
    float: left;
}
.z2 i
{
    margin-left: 29px;
    margin-top: 25px;
    color: rgba(71, 99, 131, 0.83);
    
}
.z2 h1 u
{
    margin-left: 45px;
    margin-top: 58px;
    font-size: 23px;
}
.z2 p
{
    width: 213px;
    margin-top: -5px;
    margin-left: 48px;
    height: 267px;
    font-size: 17px;
}
.z2 h4 
{
    margin-top: -170px;
    margin-left: 48px;
}
.z3
{
    width: 22%;
    height: 321px;
    border: 2px solid white;
    background-color: white;
    margin-left: 17px;
    margin-top: 50px;
    border-radius: 17px;
    float: left;
}
.z3 i
{
    margin-left: 29px;
    margin-top: 25px;
    color: rgba(71, 99, 131, 0.83);
}
.z3 h1 u
{
    margin-left: 45px;
    margin-top: 58px;
    font-size: 23px;
}
.z3 p
{
    width: 213px;
    margin-top: -5px;
    margin-left: 48px;
    height: 267px;
    font-size: 17px;
}
.z3 h4 
{
    margin-top: -170px;
    margin-left: 48px;
}
.z4
{
    width: 22%;
    height: 321px;
    border: 2px solid white;
    background-color: white;
    margin-left: 16px;
    margin-top: 50px;
    border-radius: 17px;
    float: left;
}
.z4 i
{
    margin-left: 29px;
    margin-top: 25px;
    color: rgba(71, 99, 131, 0.83);
}
.z4 h1 u
{
    margin-left: 45px;
    margin-top: 58px;
    font-size: 23px;
}
.z4 p
{
    width: 213px;
    margin-top: -5px;
    margin-left: 48px;
    height: 267px;
    font-size: 17px;
}
.z4 h4 
{
    margin-top: -170px;
    margin-left: 48px;
}
.element6
{
    width: 101%;
    height: 615px;
    
    background-color: white;
    margin-left: -8px;
    margin-top: 0px;
    background-color: white;
}
.f1
{
    width: 36%;
    height: 490px;
    border: 2px solid white;
    margin-left: 50px;
    margin-top: 54px;
    border-radius: 15px;
    background-color: rgba(50, 90, 137, 0.83);
}
.f1 h4
{
    margin-left: 35px;
    margin-top: 144px;
    font-size: 15px;
    color: rgba(254, 230, 45, 0.884);
}
.f1 h1
{
    margin-left: 35px;
    margin-top: -5px;
    width: 352px;
    color: white;
}
.f1 h5
{
    margin-left: 81px;
    margin-top: 50px;
    width: 50px;
    color: white;
    font-size: 16px;
}
.x1
{
     width: 25%;
     height: 250px;
     margin-left: 532px;
     margin-top: -492px;
     border: 2px solid blue;
     float: left;
}
.x1 i
{
    margin-left: 17px;
    margin-top: 20px;
    color: rgba(71, 99, 131, 0.83);
}
.x2
{
     width: 25%;
     height: 250px;
     margin-left: 873px;
     margin-top: -493px;
     border: 2px solid black;
     float: left;
}
.x2 i
{
    margin-left: 17px;
    margin-top: 20px;
    color: rgba(71, 99, 131, 0.83);
}
.x3
{
     width: 25%;
     height: 250px;
     margin-left: 533px;
     margin-top: -210px;
     border: 2px solid yellow;
     float: left;
}
.x3 i
{
    margin-left: 17px;
    margin-top: 20px;
    color: rgba(71, 99, 131, 0.83);
}
.x4
{
     width: 25%;
     height: 250px;
     margin-left: 25px;
     margin-top: -210px;
     border: 2px solid purple;
     float: left;
}
.x4 i
{
    margin-left: 17px;
    margin-top: 20px;
    color: rgba(71, 99, 131, 0.83);
}
.element7
{
    width: 101%;
    height: 620px;
    background-color: white;
    margin-left: -8px;
    margin-top: 0px;
    background-color: rgb(81, 92, 121);
}
.g1 img
{
    width: 45%;
    height: 426px;
    margin-left: 61px;
    margin-top: 61px;
    border-radius: 10px;
}
.g2
{
    width: 45%;
    height: 234px;
    margin-left: 670px;
    margin-top: -428px;
}
.g2 h4
{
    color: rgba(254, 230, 45, 0.884);
}
.g2 h1
{
    color: white;
}
.g2 p
{
    color: white;
}
.g3
{
    width: 21%;
    height: 223px;
    margin-left: 668px;
    margin-top: 8px;
    float: left;
}
.g3 h3
{
    color: white;
}
.g3 p
{
    color: white;
}
.g4 
{
    width: 21%;
    height: 223px;
    margin-left: 973px;
    margin-top: -226px;
    float: left;
}
.g4 h3
{
    color: white;
}
.g4 p
{
    color: white;
}
.element8
{
    width: 101%;
    height: 430px;
    background-color: white;
    margin-left: -8px;
    margin-top: 0px;
    
}
.h1 h4
{
    height: 72px;
    width: 425px;
    margin-left: 385px;
    margin-top: 50px;
    font-size: 15px;
    color: rgb(81, 92, 121);
}
.h2 h1
{
    height: 72px;
    width: 425px;
    margin-left: 401px;
    margin-top: -53px;
    font-size: 29px;
    text-align: center;
}
.h3 p
{
    height: 74px;
    width: 702px;
    margin-left: 298px;
    margin-top: -4px;
    font-size: 17px;
}
.y1
{
     height: 125px;
     width: 242px;
     margin-left: 50px;
     margin-top: 30px;
     float: left;
}
.y1 i
{
     margin-top: 25px;
     color: rgb(81, 92, 121);
}
.y1 h1
{
    margin-top: -66px;
    margin-left: 67px;
}
.y1 h3
{
    margin-top: -17px;
    margin-left: 67px;
    color: rgb(79, 75, 75);
}
.y2
{
    height: 125px;
    width: 242px;
    margin-left: 50px;
    margin-top: 31px;
    float: left;
}
.y2 i
{
    margin-top: 25px;
    color: rgb(81, 92, 121);
}
.y2 h1
{
    margin-top: -66px;
    margin-left: 67px;
}
.y2 h3
{
    margin-top: -17px;
    margin-left: 67px;
    color: rgb(79, 75, 75);
}
.y3
{
    height: 125px;
    width: 242px;
    margin-left: 50px;
    margin-top: 31px;
    float: left;
}
.y3 i
{
    margin-top: 25px;
    color: rgb(81, 92, 121);
}
.y3 h1
{
    margin-top: -66px;
    margin-left: 67px;
}
.y3 h3
{
    margin-top: -17px;
    margin-left: 67px;
    color: rgb(79, 75, 75);
}
.y4
{
    height: 125px;
    width: 242px;
    margin-left: 50px;
    margin-top: 31px;
    float: left;
}
.y4 i
{
    margin-top: 25px;
    color: rgb(81, 92, 121);
}
.y4 h1
{
    margin-top: -66px;
    margin-left: 67px;
}
.y4 h3
{
    margin-top: -17px;
    margin-left: 67px;
    color: rgb(79, 75, 75);
}
.element9
{
    width: 101%;
    height: 500px;
    border: 2px solid green;
    background-color: white;
    margin-left: -8px;
    margin-top: 0px;
    position: relative;
}
.i1 img
{
    width: 101%;
    height: 500px;
}
.i2 h4
{
    margin-left: 50px;
    margin-top: -448px;
    font-size: 19px;
    color: red;
    text-align: center;
}
.i3 h1
{
    width: 519px;
    margin-top: 36px;
    margin-left: 394px;
    text-align: center;
    color: white;
}
.II{
    position: absolute;
    width: 70%;
    height: 200px;
}
.i4
{
    width: 23%;
    height: 208px;
    border: 2px solid white;
    float: left;
    margin-left: 227px;
    margin-top: 37px;
}
.i4 i
{
    margin-top: 38px;
    margin-left: 71px;
    color: white;
}
.i4 h2
{
    margin-top: 5px;
    margin-left: 50px;
    color: white;
}
.i5
{
    width: 23%;
    height: 208px;
    border: 2px solid white;
    float: left;
    margin-left: 24px;
    margin-top: 38px;
}
.i5 i
{
    margin-top: 38px;
    margin-left: 71px;
    color: white;
}
.i5 h2
{
    margin-top: 5px;
    margin-left: 50px;
    color: white;
}
.i6
{
    width: 23%;
    height: 208px;
    border: 2px solid white;
    float: left;
    margin-left: 686px;
    margin-top: -210px;
}
.i6 i
{
    margin-top: 38px;
    margin-left: 71px;
    color: white;
}
.i6 h2
{
    margin-top: 5px;
    margin-left: 50px;
    color: white;
}
.i7
{
    width: 23%;
    height: 208px;
    border: 2px solid white;
    float: left;
    margin-left: 917px;
    margin-top: -209px;
}
.i7 i
{
    margin-top: 38px;
    margin-left: 71px;
    color: white;
}
.i7 h2
{
    margin-top: 5px;
    margin-left: 50px;
    color: white;
}
